* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.5s;
}

#loading {
  width: 100%;
  height: 100vh;
  top: 0;
  position: fixed;
  background: #343333 url(./Images/Preloader.gif) no-repeat center;
  z-index: 99;
}

body {
  background: #232323;
  font-size: 1rem;
}

h5 {
  color: #ffffff;
}

p,
label {
  color: #ffffff;
  font-size: 14px;
}
label {
  display: inline;
}

nav {
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  z-index: 3;
}

.active-scroll {
  background: #1b1919;
}

#navigation {
  display: none;
}

nav img {
  background: none;
  padding: 0;
  width: 150px;
  border-radius: 0;
  position: absolute;
  top: 17px;
  left: 7%;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 0;
  text-transform: uppercase;
}

nav ul li .links::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #5c38ff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

nav ul li .links:hover:before {
  text-decoration: none;
  transform: scaleX(1);
  transform-origin: left;
}

nav ul li .active {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  height: 50px;
  margin-top: 12px;
}
.active span {
  position: relative;
  z-index: 2;
}
nav ul li .active::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #4b25f2;
  transition: width 0.5s, height 0.5s;
  z-index: 1;
}

nav ul li .active:hover:before {
  width: 300px;
  height: 300px;
}

.internxpo_head {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  font-weight: bolder;
  animation: typing 3s steps(40,end), infinite;
}
.internxpo_head::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  height: 80%;
  width: 2px;
  animation: cursor 0.8s steps(3) infinite;
}
label #btn,
label #cancel {
  color: #ffffff;
  font-size: 27px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
a.active {
  background: #5c38ff;
  color: #ffffff;
  transition: 0.5s;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 0 23px;
}
a.active:hover {
  color: #ffffff;
}

section {
  position: relative;
  background: url(./Images/LandHeroBG.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 107vh;
}

ul {
  list-style: none;
}

.links > li {
  padding-top: 1rem;
}

.links:hover {
  text-decoration: none;
  color: #5c38ff;
}
a:hover {
  text-decoration: none;
}

ol > li {
  display: inline-block;
}

.register_button {
  width: 200px;
  height: 60px;
  background: transparent;
  border: 1.4px solid #181163;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
}
.register_button:hover {
  background: #ffffff;
  color: #181163;
}
.widget .links li a {
  color: #ffffff;
}

.widget .links li a:hover {
  color: #5c38ff;
}

.widget .social li a {
  color: #ffffff;
  padding-right: 20px;
}

.social li a i:hover {
  color: #6648eb;
  transform: scale(1.2);
}

.info {
  color: #ffffff;
  padding: 7px 0;
}

.footer-box {
  padding: 69px 50px 30px 50px;
  max-width: 1440px;
}

.social {
  padding-top: 2rem;
}

.subtitle > p span {
  color: #5c38ff;
}

.contact-us {
  padding-bottom: 70px;
}

.contact {
  padding: 20px 0px;
  border-radius: 20px;
  background: #2c2c2c;
  max-width: 1017px;
  margin-top: 40px;
}

.contact-heading {
  text-align: center;
  padding-top: 40px;
}

.contact-heading h1 {
  font-size: 36px;
}

.contact-btn {
  font-size: 14px;
  border-radius: 5px;
  background: #5c38ff;
}

.button {
  display: flex;
  justify-content: end;
  height: 40px !important;
}

.box {
  position: relative;
  width: 100%;
  padding-top: 10%;
}

.box input,
textarea {
  border: none;
  outline: none;
  /* border-bottom: 2px solid white; */
  background-color: transparent;
  width: 100%;
  box-shadow: none;
  font-size: 14px;
  padding: 10px 0 5px;
}

textarea {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  height: 190px;
}

.box span {
  position: absolute;
  left: 0;
  color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
  letter-spacing: 0.1em;
}

.box input:focus ~ span,
.box input:valid ~ span {
  background: transparent;
  color: #6648eb;
  transform: translateY(-16px);
  font-size: 0.8em;
}

input::-webkit-inner-spin-button {
  -webkit-appearance : none;
  margin: 0;
}

.box i {
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.box input:focus ~ i,
.box input:valid ~ i {
  background: #5c38ff;
}
textarea:focus ~ span {
  color: #5c38ff;
}

.message span {
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1em;
}

.message {
  padding-top: 3%;
  padding-left: 66px;
}

.checkbox-msg > label {
  display: inline;
  position: absolute;
  left: 10%;
}

.checkbox {
  padding-top: 72px;
  padding-bottom: 40px;
}

.countdown {
  padding: 50px 0;
  background: rgb(17, 16, 16);
}

.timer {
  font-size: 36px;
}

.timer h2 {
  font-weight: bold;
  font-size: 26px;
  line-height: 1;
  transform: scale(1.5);
  margin: 20px 0;
}
.timer small {
  transform: scale(2);
  margin-top: 2px;
}

.holder {
  padding: 6%;
}

#about {
  margin: 4rem auto;
  max-width: 1400px;
  padding: 40px;
}

.about-image {
  margin-top: 100px;
}

.about-image > img {
  width: 100%;
  border-radius: 5px;
}

.about-heading > h3 i {
  font-size: 30px;
  color: #5c38ff;
  font-family: "Sorts Mill Goudy", serif;
}
.about-title {
  font-size: 36px;
  position: relative;
}
.about-title::before {
  content: "";
  position: absolute;
  width: 13%;
  border-bottom: 1px solid #5c38ff;
  left: 33%;
  bottom: -3.5%;
  transform: translateX(-252%);
}

.about-title::after {
  content: "\f219";
  font: var(--fa-font-solid);
  height: 6px;
  color: #5c38ff;
  display: block;
  margin: 20px 0;
  font-size: 1rem;
}

.about-info > p {
  font-size: 16px;
  text-align: justify;
  line-height: 32px;
}

.about-holder {
  display: flex;
  flex-direction: column;
}

.company-details {
  margin-bottom: 100px;
}

.company_logo {
  background: #ffffff;
  padding: 13px;
}

::-webkit-scrollbar {
  width: 0;
}
#scrollpath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: rgba(255, 255, 255, 0.05);
}
#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: #5c38ff;
  animation: animate 5s linear infinite;
  transition: 0s;
}
#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5c38ff;
  filter: blur(10px);
}
#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5c38ff;
  filter: blur(10px);
}

.companies {
  padding: 50px;
}

.company-subheading {
  font-size: 30px;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes cursor {
  0%,
  75% {
    opacity: 1;
  }
  76%,
  100% {
    opacity: 0;
  }
}

@media (max-width: 990px) {
  nav img {
    left: 6%;
    top: 20px;
    width: 130px;
  }
  nav ul li a {
    font-size: 17px;
  }
}
@media (max-width: 860px) {
  nav {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 35px;
  }
  label #btn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34495e;
    top: 80px;
    z-index: 99;
    left: -100%;
    transition: all 0.5s;
    text-align: center;
  }
  nav ul li {
    display: block;
    margin: 500px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 17px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }

  #hamburger {
    display: block;
    position: relative;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding-right: 10px;
  }

  #hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #d1d1d1;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
  }

  #hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background: #5c38ff;
  }

  .banner.active #hamburger span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
  }
  .banner.active #hamburger span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
  }
  .banner.active #hamburger span:nth-child(3) {
    /*transform: translate(-1px,-8px) rotate(-45deg);*/
    transform: translate(-3px, 3px) rotate(-45deg);
  }

  #navigation {
    position: fixed;
    top: 0;
    right: -100%;
    width: calc(400px);
    height: 100%;
    background: #2b1f5e;
    display: grid;
    place-items: center;
    transition: 0.5s;
    z-index: 2;
  }
  #navigation.active {
    right: 0;
  }
  #navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #navigation ul li a {
    color: #fff;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
  }
  #navigation ul li a:hover {
    transform: translateX(30px);
    transition: 0.5s;
    color: #6648eb;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  #navigation {
    width: 250px;
  }
  #navigation ul li a {
    font-size: 1.5em;
  }
  .internxpo_head h1 {
    font-size: 2rem;
  }
  .internxpo_head h2 {
    font-size: 1.5rem;
  }
  .internxpo_head h3 {
    font-size: 1.5rem;
  }
  .footer-box {
    padding: 9px;
    padding-top: 45px;
  }

  .info p {
    padding-left: 12px !important;
  }

  .message {
    padding-top: 15%;
    padding-left: 19px;
  }

  .checkbox-msg > label {
    position: absolute;
    font-size: 12px;
    margin-right: 22px;
    text-align: justify;
    left: 13%;
  }

  textarea {
    height: 100px;
  }

  .timer {
    font-size: 12px;
  }
  .timer h2 {
    transform: scale(1);
  }
  .about-heading {
    text-align: center;
  }

  .about-info > p {
    text-align: justify;
    font-size: 11px;
    line-height: 26px;
  }

  #about {
    margin: 0rem auto;
  }

  .about-holder {
    justify-content: center;
  }
  .about-title::before {
    transform: translateX(60%);
    width: 15%;
  }
  .about-title::after {
    transform: translateX(-9%);
    margin: 10px 0;
    height: 6px;
    font-size: 1rem;
  }
  .about-heading {
    margin-top: 35px;
  }
  .button {
    margin-top: 100px;
    height: 40px !important;
    justify-content: center;
  }
  #progressbar {
    width: 5px;
  }
  .contact {
    max-width: 400px;
  }
  .box {
    margin-bottom: 30px;
  }
  .internxpo_head::before {
    right: 15px;
  }
  .company-subheading {
    margin-top: 30px;
  }
}

@media (min-width: 576px) and (max-width: 990px) {
  .message {
    padding-top: 6%;
    padding-left: 19px;
  }

  .about-holder {
    justify-content: center;
  }

  .about-info > p {
    font-size: 14px;
    line-height: 26px;
  }
  .about-info > p {
    font-size: 11px !important;
  }
  .about-heading > h3 i {
    font-size: 20px;
  }

  .about-title {
    font-size: 2rem;
  }
  .about-title::after {
    height: 6px;
    margin: 7px 0;
    font-size: 1rem;
  }
  .button {
    margin-top: 64px;
    height: 40px !important;
  }
  .contact {
    max-width: 600px;
  }
}
